@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: rgb(30, 29, 29);
  color: rgb(255, 255, 255);
  overflow: scroll;
}

/* for scrollbar */
body::-webkit-scrollbar,
body::-webkit-scrollbar-thumb {
  width: 10px;

  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(89, 91, 93);
}

h1,
h2,
h3,
h4,
h5,
h5,
h6 {
  font-weight: 300;
}

#wrapper {
  display: flex;
  flex-direction: row;
  margin: 1%;
}

#left {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: 1vh;
}

#right {
  flex: 1;

}

/* Sign in wala code */
#signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding-bottom: 1rem;
}

#signin form {
  width: 80%;
  padding-bottom: 2rem;
}

#signin .logo {
  margin-bottom: 0.1vh;
}

#signin .logo img {

  height: 250px;

  /* width: 300px; */
}

#signin label {
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 500;
  padding-left: 20px;
}

#signin .text-input {
  margin-bottom: 1.3rem;
  width: 100%;
  border-radius: 40px;
  background-color: rgb(38, 38, 38);
  border: 1px solid rgb(99, 99, 99);
  color: rgb(221, 221, 221);
  padding: 0.5rem 1.3rem;
  line-height: 2.3rem;
  font-size: 16px;

}

#signin .primary-btn {
  width: 100%;
}

#signin .secondary-btn,
.or,
.links {
  width: 60%;


}

#signin .links a {
  color: rgb(185, 185, 185);
  text-decoration: none;
  margin-bottom: 1rem;
  display: block;
  text-align: center;
  font-size: 1rem;
}



#signin .or {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.2rem;
  align-items: center;

}

#signin .or .bar {
  flex: auto;
  border: none;
  height: 1px;
  background: #aaa;
}



#signin .or span {
  color: #ccc;
  padding: 0 0.8rem;

}

/* showcase */
#showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('/background.jpg') no-repeat center center / cover;
  opacity: 0.80;
  height: 100vh;
  text-align: center;


}

#showcase .showcase-content {
  font-size: 2.5rem;
  width: 100%;
  color: #fff;
  margin-bottom: 1.5rem;


}

#showcase .secondary-btn {
  width: 60%;
  margin: auto;
}

#showcase:hover {
  opacity: 1;
  transition: 2s;
}


/* footer */
#main-footer {
  color: #ccc;
  text-align: center;
  font-size: 0.8rem;
  max-width: 80%;
  padding-top: 2rem;
}

#main-footer a {
  color: #81abcd;
  text-decoration: underline;
}


/* button */
.primary-btn {
  padding: 0.7rem 1rem;
  height: 3.7rem;
  display: block;
  border: 0;
  border-radius: 40px;
  font-weight: 500;
  background-color: rgb(64, 100, 157);
  color: aliceblue;
  text-decoration: none;
  cursor: poiter;
  text-align: center;
  transition: all 0.5s;
  font-size: 0.9rem;

}

.secondary-btn {
  padding: 0.7rem 1rem;
  height: 2.7rem;
  display: block;
  border: 1px solid white;
  border-radius: 2px;
  font-weight: 550;
  background-color: none;
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: poiter;
  text-align: center;
  transition: all 0.5s;

}

.primary-btn:hover {
  background-color: rgb(9, 214, 132);
  color: #000000;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}

.secondary-btn:hover {
  background-color: rgb(9, 214, 132);



}



/* there is media query by vishu */
/* @media(min-width:1200px) {
  #left {
    flex: 4;
  }

  #left {
    flex: 6;
  }
} */
@media(max-width:590px) {
  body {
    overflow: auto;
  }

  #right {
    display: none;

  }

  #left {
    justify-content: start;
    /* margin-top: 2vh; */

  }

  #signin .logo {
    margin-bottom: 2vh
  }

  #signin .text-input {
    margin-bottom: 0.7rem;
  }

  #main-footer {
    padding-top: 1rem;
  }
}

@media (max-width:334px) {
  #fontsize {
    font-size: 10px;
  }

}